CalculatorClientApp/xml-resources/web-service-references/CalculatorWebService/wsdl/localhost_8080/Calculator/CalculatorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tutorial.soap.webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tutorial.soap.webservice/" name="CalculatorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://tutorial.soap.webservice/" schemaLocation="http://localhost:8080/Calculator/CalculatorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="AddIntegers">
<part name="parameters" element="tns:AddIntegers"/>
</message>
<message name="AddIntegersResponse">
<part name="parameters" element="tns:AddIntegersResponse"/>
</message>
<message name="SubIntegers">
<part name="parameters" element="tns:SubIntegers"/>
</message>
<message name="SubIntegersResponse">
<part name="parameters" element="tns:SubIntegersResponse"/>
</message>
<message name="DivIntegers">
<part name="parameters" element="tns:DivIntegers"/>
</message>
<message name="DivIntegersResponse">
<part name="parameters" element="tns:DivIntegersResponse"/>
</message>
<message name="MulIntegers">
<part name="parameters" element="tns:MulIntegers"/>
</message>
<message name="MulIntegersResponse">
<part name="parameters" element="tns:MulIntegersResponse"/>
</message>
<portType name="CalculatorWebService">
<operation name="AddIntegers">
<input wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/AddIntegersRequest" message="tns:AddIntegers"/>
<output wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/AddIntegersResponse" message="tns:AddIntegersResponse"/>
</operation>
<operation name="SubIntegers">
<input wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/SubIntegersRequest" message="tns:SubIntegers"/>
<output wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/SubIntegersResponse" message="tns:SubIntegersResponse"/>
</operation>
<operation name="DivIntegers">
<input wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/DivIntegersRequest" message="tns:DivIntegers"/>
<output wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/DivIntegersResponse" message="tns:DivIntegersResponse"/>
</operation>
<operation name="MulIntegers">
<input wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/MulIntegersRequest" message="tns:MulIntegers"/>
<output wsam:Action="http://tutorial.soap.webservice/CalculatorWebService/MulIntegersResponse" message="tns:MulIntegersResponse"/>
</operation>
</portType>
<binding name="CalculatorWebServicePortBinding" type="tns:CalculatorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SubIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DivIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MulIntegers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWebService">
<port name="CalculatorWebServicePort" binding="tns:CalculatorWebServicePortBinding">
<soap:address location="http://localhost:8080/Calculator/CalculatorWebService"/>
</port>
</service>
</definitions>