CalculatorClientApp/xml-resources/web-service-references/CalculatorWebService/wsdl/localhost_8080/Calculator/CalculatorWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tutorial.soap.webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tutorial.soap.webservice/">

<xs:element name="AddIntegers" type="tns:AddIntegers"/>

<xs:element name="AddIntegersResponse" type="tns:AddIntegersResponse"/>

<xs:element name="DivIntegers" type="tns:DivIntegers"/>

<xs:element name="DivIntegersResponse" type="tns:DivIntegersResponse"/>

<xs:element name="MulIntegers" type="tns:MulIntegers"/>

<xs:element name="MulIntegersResponse" type="tns:MulIntegersResponse"/>

<xs:element name="SubIntegers" type="tns:SubIntegers"/>

<xs:element name="SubIntegersResponse" type="tns:SubIntegersResponse"/>

<xs:complexType name="AddIntegers">
<xs:sequence>
<xs:element name="firstNumber" type="xs:int"/>
<xs:element name="secondNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivIntegers">
<xs:sequence>
<xs:element name="firstNumber" type="xs:int"/>
<xs:element name="secondNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubIntegers">
<xs:sequence>
<xs:element name="firstNumber" type="xs:int"/>
<xs:element name="secondNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MulIntegers">
<xs:sequence>
<xs:element name="firstNumber" type="xs:int"/>
<xs:element name="secondNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MulIntegersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>